*{margin: 0 auto; padding: 0;}
body{background-color: gray;}
.wrap{
    max-width: 800px;
    position: relative;
}
.wrap > .slider .content{
    position: relative ;
}

.wrap > .slider .content > img{
    width: 100%;
    display: block;
}

.btn{
    width: 80px; height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: black;
    color: #fff;
    opacity: 0.8;
    position: absolute;
    top: 50%; transform: translateY(-50%);
}

.l-btn{left: 0;}
.r-btn{right: 0;}

.slick-dots{
    position: absolute;
    bottom: 0;
}

.s-btn{
    position: absolute;
    width: 100px; height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: pink;
    color: #fff; 
}

.s-btn > div{
    display: none;
}

.s-btn > div.active{
    display: block;
}

/* 커스텀 페이징 설정 (이미지 제목 출력) */
.slick-dots li.slick-active{
    background-color: black;
    color: white ; 
}
.slick-dots li{
    width: 25% ;
    height: auto ;
    margin: 0 ;
    background-color: #fff;
}

.dots{
    display: flex ;
    position: absolute ;
    bottom: -250px ;
    width: 100%;
    justify-content: center ;
}

.dot, .numbering{
    width: 100px; height: 100px;
    background-color: white;
    color: black;
    margin: 0 10px;
}
.numbering{
    position: absolute; right: 0; background-color: pink; color: #fff;
}

.dot.active{background-color: black; color:#fff}

/*텍스트 시간차 애니메이션*/
.wrap > .slider .content > .txt-wrap{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.wrap > .slider .content > .txt-wrap > h1{
    transform:translateY(30px) ;
    opacity: 0 ;
    transition: 0.5s ;
  }
  .wrap > .slider .content.active > .txt-wrap > h1{
    transform:translateY(00px) ;
    opacity: 1 ;
  }
  .wrap > .slider .content > .txt-wrap > h3{
    transform:translateY(30px) ;
    opacity: 0 ;
    transition: 0.5s ;
    transition-delay: 0.2s ;
  }
  .wrap > .slider .content.active > .txt-wrap > h3{
    transform:translateY(00px) ;
    opacity: 1 ;
  }
  .wrap > .slider .content > .txt-wrap > h5{
    transform:translateY(30px) ;
    opacity: 0 ;
    transition: 0.5s ;
    transition-delay: 0.4s ;
  }
  .wrap > .slider .content.active > .txt-wrap > h5{
    transform:translateY(00px) ;
    opacity: 1 ;
  }